{{#if context.topic.show_average}}
  <div class="topic-rating">
    {{#if context.topic.has_ratings}}
      {{star-rating-raw (mean-rating context.topic)}} - {{context.topic.rating_count}} ratings
    {{else}}
      {{i18n 'topic.no_ratings'}}
    {{/if}}
  </div>
{{/if}}
